$def with (doc, refs, ix, url)

$if doc.get('link'):
    <h1><a href="$doc['link']">$doc['name']</a></h1>
$else:
    <h1>$doc['name']</h1>

$if doc.get('description'):
    <p>$doc['description']</p>

<table>
$for (k, v) in doc.items():
    $if k not in ('link', 'name', 'description'):
        $ components = v.split()
        $ name = ix[components[0]]
	$if not name or k == 'url':
            <tr><th>$k <td>
	    $if v.startswith('http://'):
	        <a href="$v">$v</a>
            $elif v.startswith('file://'):
	        <a href="download?url=$v">$v</a>
	    $else:
	        $v
	$else:
	    <tr><th>$k <td>
	    $for v in components:
	        $ name = ix[v]
    	        <a href="show?url=$v">$name</a><br>
</table>

$if refs:
    <h2>Referenced by</h2>

    <ul>
    $for ref in refs:
        <li><a href="show?url=$ref['url']">$ref['name']</a>
    </ul>

    $if not refs.is_last_page():
        <a href="?url=$url&page=$(refs.get_next_page())">&gt;&gt;</a>
